<!-- jQuery -->
<script src="__JS__/libs/jquery/jquery-1.8.2.min.js"></script>
<script src="__JS__/libs/jquery/jquery-ui.min.js"></script>
<script src="__JS__/libs/jquery/jquery.ui.rotatable.min.js"></script>
<script src="__JS__/libs/jquery/jquery.simulate.js"></script>


<script language="javascript" type="text/javascript" src="__JS__/libs/canvas/p5.min.js"></script>
<script language="javascript" type="text/javascript" src="__JS__/libs/canvas/p5.dom.min.js"></script>
<script language="javascript" type="text/javascript" src="__JS__/libs/canvas/sketch_rnn.js"></script>

<script src="__JS__/libs/md5/md5.js"></script>


<!-- Apollo -->
<script type="text/javascript">
/**
 * Global Variables
 */
var Apollo = {};
Apollo.baseUrl		=	"__APP__";
Apollo.publicUrl	=	"__APP__" + "public/";
Apollo.texUrl		=	"__APP__" + "public/textures/";
Apollo.videoUrl		=	"__APP__" + "public/videos/";
Apollo.modelUrl		=	"__APP__" + "public/models/";
Apollo.pid			=	"{$Think.session.pid}";

Apollo.suffix		=	"";
Apollo.task			=	{$task};
Apollo.scene		=	"{$scene}";
Apollo.reference	=	"{$reference}";
Apollo.sketch       =   {$sketch};
Apollo.catefolder	=	"__FOLDER__";
Apollo.boxs         =   "{$boxs}"
Apollo.review       =   {$review};
</script>

<script language="javascript" type="text/javascript" src="__JS__/app/myp5.js"></script>
<script language="javascript" type="text/javascript" src="__JS__/app/layout.js"></script>
<script language="javascript" type="text/javascript" src="__JS__/app/parameter.js"></script>
<script language="javascript" type="text/javascript" src="__JS__/app/item.js"></script>
<script language="javascript" type="text/javascript" src="__JS__/app/start.js"></script>
<script language="javascript" type="text/javascript" src="__JS__/app/category.js"></script>
