{include file="admin/header" /}

<h3>Welcome to check the overall progress.<h3>

<h4>Statistics: {$review_done} / {$total} completed. ({$percentage_admin} %) </h4>
<!-- <img id="demo"></img> -->
<h4>Current ID: <span id="cid">0</span></h4>

<section id="markers">

</section>
{include file="admin/js" /}
<script>
Apollo.list = {$list};
Apollo.check_list = {$check_list};
Apollo.admin_list = {$admin_list};
Apollo.admin_list_change = {$admin_list_change};
Apollo.total = {$total};
Apollo.baseUrl		=	"__APP__";
</script>
<script src="__JS__/app/admin.js"></script>

</body>
</html>
